.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  mat-header-cell{
    text-align: center;
    align-content: center;
    justify-content: center;
}

mat-cell{
    text-align: center;
    align-content: center;
    justify-content: center;
}

.edit-button{
    justify-content: right;
    padding: 0;
    margin: 0;

}

.del-button{
    justify-content: left;
    padding: 0;
    margin: 0;
}

h1{
  text-align: center;
}