<div>
    <button (click)="addMovie()">Add Movie</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Genres</th>
      <th>Cast</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.id }}</td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.director }}</td>
      
      <td>{{ movie.cast.length }}</td>
      <td>{{ movie.rating }}</td>
      <td>
        <button (click)="viewMovie(movie)">View</button>
        <button (click)="editMovie(movie)">Edit</button>
        <button (click)="deleteMovie(movie)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<dialog #dialog id="modal">
  <div id="modal-content">
    <div id="modal-header">
      <h3>Confirmation Dialog</h3>
    </div>
    <div id="modal-body">
        Do you want to delete the movie "{{ selectedMovie?.title }}"?
    </div>
    <div id="modal-footer">
      <button (click)="confirmModal()">Yes</button>
      <button (click)="closeModal()">No</button>
    </div>
  </div>
</dialog>
