
<div>
  <h2>Movie List</h2>

  

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Genre</th>
        <th>Oscars</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
 
      <tr *ngFor="let movie of movies">
        <td>{{ movie.id }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.genre.join(', ') }}</td>
        <td>{{ getOscars(movie.oscars) }}</td>
        <td>{{ movie.rating }}</td>
        <td>
          <button (click)="viewMovie(movie.id)">View</button>
          <button (click)="editMovie(movie.id)">Edit</button>
          <button (click)="deleteMovie(movie.id)">Delete</button>
     
          <button *ngIf="showAddCastButton" (click)="addCast(movie.id)">Add Cast</button>
        </td>
      </tr>
    </tbody>
  </table>


  <button routerLink="/movies/create">Add Movie</button>
</div>

