<div *ngIf="!!band">
    <h1>ID: {{ band.id }}</h1>
    <p>Name: {{ band.name }}</p>
    <p>Genre {{ band.genre }}</p>
    <p>Formed: {{ band.formed }}</p>
    <p>Location: {{ band.location }} </p>
    <p>Members: {{ band.members }} </p>
    <h2>Albums: </h2>
    <ul>
        <li *ngFor="let album of band.albums">
            {{ album.name }} ({{ album.year }})
        </li>
    </ul>

    <button (click)="editBand()">Edit</button>
    <button (click)="deleteBand()">Delete</button>
</div>
<div *ngIf="!band">No band loaded</div>