nav {
    background-color: #1b6440;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  h1 {
    margin: 0;
    font-size: 24px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    margin: 0 15px;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  a:hover {
    color: #1b6440;
  }

  .add-band {
    color: black;
  }

  .bands {
    font-size: 24px;
  }