<div>
    <h2>Movies List</h2>
  
    
    <button routerLink="/movies/create">Add Movie</button>
  
    
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="titleFilter" />
      
      <button (click)="applyFilters()">Apply Filters</button>
    </div>
  
    
    <table>
      <thead>
        <tr>
          <th (click)="sort('id')">ID</th>
          <th (click)="sort('title')">Title</th>
          <th (click)="sort('year')">Year</th>
          <th (click)="sort('director')">Director</th>
          <th (click)="sort('genre')">Genre</th>
          <th (click)="sort('oscars')">Oscars</th>
          <th (click)="sort('rating')">Rating</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let movie of movies">
          <td>{{ movie.id }}</td>
          <td>{{ movie.title }}</td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.director }}</td>
          <td>{{ movie.genre.join(' / ') }}</td>
          <td>{{ getOscarsCount(movie.oscars) }}</td>
          <td>{{ movie.rating }}</td>
          <td>
            <button (click)="viewMovieDetails(movie.id)">View</button>
            <button (click)="editMovie(movie.id)">Edit</button>
            <button (click)="deleteMovie(movie.id)">Delete</button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  