div {
  background-color: #333;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  transition: color 0.3s ease;
}

a:hover {
  color: #007bff;
}
