<!-- movie-list.component.html -->
<table class="movie-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Genres</th>
        <th>Plot</th>
        <th>Rating</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.id }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.director }}</td>
        <td>
          <ul>
            <li *ngFor="let genre of movie.genres">{{ genre }}</li>
          </ul>
        </td>
        <td>{{ movie.plot }}</td>
        <td>{{ movie.rating }}</td>
        <td>
          <button (click)="onDeleteMovie(movie.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  