<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Bands</a>
      <div id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/band-list" routerLinkActive="active">All Bands</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/Another-time" routerLinkActive="active">Add Band</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/statistics" routerLinkActive="active" >Statistics</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/about" routerLinkActive="active" >About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>