<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card">
            <h4 class="card-title text-center pt-4">About page:</h4>
            <hr>
            <div class="card-body mt-3">
                <div class="row text-center">
                    <div class="col-6">
                        <h5>Student name: Mihela Taseska </h5>
                        <h5>Student ID: 4771</h5>
                        <h5>Current year: 2024</h5>
                    </div>
                    <div class="col-6">
                        <h5>Github link: <a
                                href="https://github.com/sweko/uacs-internet-programming-exams/tree/main/part-time/code/4771-mihela-taseska">Link</a>
                        </h5>
                        <h5>Current year: 2024</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>