.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    border: 2px solid red;
    border-radius: 10px;
    padding: 12px;
    list-style: none;
  }
  
  .btn-groups {
    display: flex;
    gap: 15px
  }