body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .movie-header-table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr 2fr 1fr;
    border: 1px solid #000;
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
  }

  .movie-header {
    padding: 5px;
    border: 1px solid #000;
  }

  .movie-table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr 2fr 1fr;
    border: 1px solid #000;
  }

  .movie {
    border: solid 1px lime;
    width: 100%;
  }

  .movie-data {
    text-align: left;
    padding: 5px;
    border: 1px solid #000;

    & ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

