.all-bands-view {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(5, 5, 5, 0.4);
    background-color: #fff;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    margin: 5px 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  h3 {
    color: #555;
    margin-top: 15px;
  }
  