.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
  }
  
  .navbar .logo {
    font-size:   
   20px;
    font-weight: bold;
    color: white;
  }
  
  .navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar .nav-links li {
    margin-right: 15px;
  }
  
  .navbar .nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .navbar .nav-links a:hover {
    background-color: #444;
  }