
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}





div {
    max-width: 600px;
    background-color: #e4d616; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

h2, h3 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #428bca; 
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
