<!-- <div *ngIf="!!movie">
    <form [formGroup]="editForm" (ngSubmit)="updateTitle()">
    <p>Title: <input type="text" formControlName="title"></p>
    <p>Birth Date: <input type="date" formControlName="birthDate" [value]="author.birthDate"></p>
    <p>Death Date: <input type="date" formControlName="deathDate"></p>
    <p>
        Nationality: 
        <select formControlName="nationality">
            <option *ngFor="let nationality of (nationalities$ | async)" [value]="nationality">{{nationality}}</option>
        </select>
    </p>

     <h2>Bibliography</h2>
    <ul>
        <li *ngFor="let movie of movie.books">
            {{ movie.title }} ({{ movie.year }}) - {{ movie.director }}
        </li>
    </ul> -->

        <!-- <button>Save</button>
    </form>
</div>
<div *ngIf="!movie">
    No movie loaded
</div>  -->