.row-details{
    max-height: 79vh;
    overflow-y: scroll;
}

.row-details::-webkit-scrollbar{
    display: none;
}

.card-body{
    background-color: rgb(91, 89, 89);
    color:white
}

.card-title{
    background-color: brown;
    padding: 0.5rem;
    color:white
}

