<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Cuisine</th>
      <th>Description</th>
      <th>Ingredients</th>
      <th>Instructions</th>
      <th>Time (min)</th>
      <th>Servings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{ recipe.id }}</td>
      <td>{{ recipe.title }}</td>
      <td>{{ recipe.cuisine }}</td>
      <td>{{ recipe.description }}</td>
      <td>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.name }} - {{ ingredient.quantity }} {{ ingredient.unit }}
          </li>
        </ul>
      </td>
      <td>{{ recipe.instructions }}</td>
      <td>{{ recipe.time }}</td>
      <td>{{ recipe.servings }}</td>
    </tr>
  </tbody>
</table>