<div>
  <h2>Movie List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Genre</th>
        <th>Oscars</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.id }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.genre ? movie.genre.join(', ') : '' }}</td>
        <td>{{ getOscarsCount(movie.oscars) }}</td>
        <td>{{ movie.rating }}</td>
        <td>
          <button (click)="editMovie(movie.id)">Edit</button>
          <button (click)="deleteMovie(movie.id)">Remove</button>
          <button [routerLink]="'/details/' + movie.id">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
